In [ ]:


### 4. Pick only rows where country starts with U 

`use apply and lambda`

### 5. Get the names of unique countries left `use pd.unique`

### [Thoughts]: how would that be useful if we have duplicated values in a dataset? 

###  5.5. pick only 'United States' (without using apply or lambda - try using indexing)

### 6. Group by age column and sum # suicides

### 7. Change the age column to a categorical one 
`use astype`

### 8. Re-order the categories so that 5-14 years appears first 

`use cat.reorder_categories`

### 9. Draw a barplot of # suicides(y) per age-group (x) for 2015

### 10. Save plot to visualization folder we have created - using plt

### 11. Push all to your git branch.

In [5]:
import pandas as pd
df=pd.read_csv ("suicide_rates.csv")
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [15]:
df_U=df["country".astype(str).str["U")]
df_U=df["country".str.beginswith("U")]

SyntaxError: invalid syntax (<ipython-input-15-6167ef5ca89f>, line 1)